---
import { FeatureData } from "../interfaces/FeatureData";
export interface Props {
  featureData: FeatureData;
  dark?: boolean;
}
const { featureData, dark } = Astro.props as Props;
---

<div class={`card ${dark ? "dark" : ""}`}>
  <h3>{featureData.title}</h3>
  <p>{featureData.body}</p>
</div>
